<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>User Login</title>
</head>
<body>
<div class="login">
    <h2>Admin Form</h2>
        <form id="loginForm" action="{% url 'admin_login' %}" method="post">
            {% csrf_token %}

            <label for="username">Username:</label>
            <input type="text" id="username" placeholder="Enter username" name="username">
            {% for error in form.username.errors %}
            <small style="color: red">{{ error }}</small>
            {% endfor %}

            <label for="password">Password:</label>
            <input type="password" id="password" placeholder="Enter password" name="password">
            {% for error in form.password.errors %}
            <small style="color: red">{{ error }}</small>
            {% endfor %}

            <input type="submit" value="Sign In">

            <h3>This is for admin only.</h3>
            <a href="{% url 'login' %}" class="register-link">Back to Login</a>

        </form>
</div>
</body>
</html>