<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>User Login</title>
</head>
<body>
    <div class="login">
        <!-- Admin Login Link -->
        <a href="{% url 'admin_login' %}" class="login-link">Admin</a>
        <h2>Login Form</h2>

        <form id="loginForm" action="{% url 'user_login' %}" method="post">
            {% csrf_token %}

            <label for="username">Username:</label>
            <input type="text" id="username" placeholder="Enter username" name="username">
            {% for error in form.username.errors %}
                <small style="color: red">{{ error }}</small>
            {% endfor %}

            <label for="password">Password:</label>
            <input type="password" id="password" placeholder="Enter password" name="password">
            {% for error in form.password.errors %}
                <small style="color: red">{{ error }}</small>
            {% endfor %}

            <input type="submit" value="Login">

            <h3>Don't have an account?</h3>
            <a href="{% url 'user_register' %}" class="register-link">Register</a>
        </form>
    </div>
</body>
</html>
