{% extends 'app/base.html' %}
{% load static %}
{% block content %}
<br><br><br><br><br>
    <div class="form-container">
        <h1>Instructor Form</h1>
        <a href="{% url 'about' %}" class="back-button" onclick="return confirmBack();">Cancel</a>
    </div>
    <p class="intro-text">Please fill in the details below to add new user.</p>
    <form id="instructorForm" enctype="multipart/form-data" action="{% url 'about_instructor_create' %}" method="post">
        {% csrf_token %}
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">
        {% for error in form.name.errors %}
        <small style="color: red">{{ error }}</small>
        {% endfor %}

        <label for="bio">Bio:</label>
        <input type="text" id="bio" name="bio">
        {% for error in form.bio.errors %}
        <small style="color: red">{{ error }}</small>
        {% endfor %}

        <label for="verified_credentials">Credentials:</label>
        <input type="file" id="verified_credentials" name="verified_credentials">
        {% for error in form.verified_credentials.errors %}
        <small style="color: red">{{ error }}</small>
        {% endfor %}

        <label for="years_of_experience">Years of Experience:</label>
        <input type="text" id="years_of_experience" name="years_of_experience">
        {% for error in form.years_of_experience.errors %}
        <small style="color: red">{{ error }}</small>
        {% endfor %}

        <label for="profile_picture">Profile:</label>
        <input type="file" id="profile_picture" name="profile_picture">
        {% for error in form.profile_picture.errors %}
        <small style="color: red">{{ error }}</small>
        {% endfor %}

        <label for="specialties">Specialties:</label>
        <input type="text" id="specialties" name="specialties">
        {% for error in form.specialties.errors %}
        <small style="color: red">{{ error }}</small>
        {% endfor %}

        <label for="contact_email">Email:</label>
        <input type="text" id="contact_email" name="contact_email">
        {% for error in form.contact_email.errors %}
        <small style="color: red">{{ error }}</small>
        {% endfor %}

        <label for="phone_number">Phone Number:</label>
        <input type="number" id="phone_number" name="phone_number">
        {% for error in form.phone_number.errors %}
        <small style="color: red">{{ error }}</small>
        {% endfor %}

        <input type="submit" value="Add">
    </form>
{% endblock content %}