{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar_base.css' %}">
    <link rel="stylesheet" href="{% static 'css/home_page.css' %}">
    <link rel="stylesheet" href="{% static 'css/team.css' %}">
    <link rel="stylesheet" href="{% static 'css/testimonial.css' %}">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <link rel="stylesheet" href="{% static 'css/courses.css' %}">
    <link rel="stylesheet" href="{% static 'css/posts_list.css' %}">
    <link rel="stylesheet" href="{% static 'css/posts_detail.css' %}">
    <link rel="stylesheet" href="{% static 'css/posts_create.css' %}">
    <link rel="stylesheet" href="{% static 'css/calendar.css' %}">
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">

</head>
<body>
    {% include 'app/navbar.html' %}

    {% block content %}

    {% endblock content %}
    <script src="{% static 'js/base.js' %}"></script>
    <script src="{% static 'js/navbar.js' %}"></script>
</body>
</html>