<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enrollment Update Form</title>
    <link rel="stylesheet" href="{% static 'css/admin_enrollment_create.css' %}">
</head>
<body>
    <div class="form-container">
        <div class="header">
            <h1>Enrollment Update Form</h1>
        </div>
        <p class="intro-text">Please update the details below for the enrollment.</p>
        <form id="enrollmentForm" action="{% url 'enrollment_update' enrollment.pk %}" method="post">
            {% csrf_token %}

            <label for="user">User:</label>
            {{ form.user }}
            {% for error in form.user.errors %}
            <small style="color: red">{{ error }}</small>
            {% endfor %}

            <label for="course">Course:</label>
            {{ form.course }}
            {% for error in form.course.errors %}
            <small style="color: red">{{ error }}</small>
            {% endfor %}

            <label for="enrollment_status">Status:</label>
            <input type="text" id="enrollment_status" name="enrollment_status" value="{{ form.enrollment_status.value }}">
            {% for error in form.course.errors %}
            <small style="color: red">{{ error }}</small>
            {% endfor %}

            <label for="enrollment_date">Date:</label>
            <input type="date" id="enrollment_date" name="enrollment_date" value="{{ form.enrollment_date.value }}">
            {% for error in form.enrollment_date.errors %}
            <small style="color: red">{{ error }}</small>
            {% endfor %}

            <input type="submit" value="Update">
        </form>
        <a href="{% url 'database' %}" class="back-button" onclick="return confirmBack();">Cancel</a>
    </div>
</body>
</html>
