<html>
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <!--=============== ICON ===============-->
      <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">

      <!--=============== CSS ===============-->
      <link rel="stylesheet" href="assets/css/styles.css">

      <title>Responsive Dropdown Menu</title>
   </head>
<header class="header">
   <nav class="nav container">
      <div class="nav__data">
         <a href="{% url 'home' %}" class="nav__logo">
            <i class="ri-roadster-fill"></i> NextGen
         </a>

         <div class="nav__toggle" id="nav-toggle">
            <i class="ri-menu-line nav__burger"></i>
            <i class="ri-close-line nav__close"></i>
         </div>
      </div>

      <!--=============== NAV MENU ===============-->
      <div class="nav__menu" id="nav-menu">
         <ul class="nav__list">
            <li><a href="{% url 'home' %}" class="nav__link">Home</a></li>

            <li><a href="{% url 'about' %}" class="nav__link">About</a></li>

            <li><a href="{% url 'course' %}" class="nav__link">Courses</a></li>

            <!--=============== DROPDOWN ===============-->
            <li class="dropdown__item">
               <div class="nav__link dropdown__toggle"> Pages
                  <i class="ri-arrow-down-s-line dropdown__arrow"></i>
               </div>

               <ul class="dropdown__menu">
                  <li>
                     <a href="{% url 'posts' %}" class="dropdown__link">
                        <i class="ri-share-forward-line"></i> Posts
                     </a>
                  </li>

                  <li>
                     <a href="{% url 'calendar' %}" class="dropdown__link">
                        <i class="ri-calendar-2-line"></i> Calendar
                     </a>
                  </li>

                  <li>
                     <a href="{% url 'team' %}" class="dropdown__link">
                        <i class="ri-team-line"></i> Our Team
                     </a>
                  </li>

                  <li>
                     <a href="{% url 'testimonial' %}" class="dropdown__link">
                        <i class="ri-double-quotes-l"></i> Testimonial
                     </a>
                  </li>
               </ul>
            </li>

            <li><a href="{% url 'contact' %}" class="nav__link">Contact</a></li>

            <!-- Logout Button -->
            <li><a href="{% url 'login' %}" class="nav__logout">Logout</a></li>
         </ul>
      </div>
   </nav>
</header>
</html>
