<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/user_create.css' %}">
    <title>Welcome</title>
</head>
<body>
    <div class="form-container">
        <h1>User Form</h1>
        <p class="intro-text">Please fill in the details below to add a new user.</p>
        <form id="userForm" action="{% url 'user_create' %}" method="post">
            {% csrf_token %}
            <label for="name">Name:</label>
            <input type="text" id="name" name="name">
            {% for error in form.name.errors %}
            <small style="color: red">{{ error }}</small>
            {% endfor %}

            <label for="username">Username:</label>
            <input type="text" id="username" name="username">
            {% for error in form.username.errors %}
            <small style="color: red">{{ error }}</small>
            {% endfor %}

            <label for="password">Password:</label>
            <input type="text" id="password" name="password">
            {% for error in form.password.errors %}
            <small style="color: red">{{ error }}</small>
            {% endfor %}

            <label for="email">Email:</label>
            <input type="text" id="email" name="email">
            {% for error in form.email.errors %}
            <small style="color: red">{{ error }}</small>
            {% endfor %}

            <input type="submit" value="Add">
            <a href="{% url 'database' %}" class="back-button" onclick="return confirmBack();">Cancel</a>
        </form>
    </div>
</body>
</html>
